<div class="container">
    <div class="row">
        <div class="col-12 col-md-6">
            <h1>{{article.title}}</h1>
            <p>Released {{article.publishedAt | date: 'MMMM d, y'}}</p>
            <p>Category: {{article.description}}</p>
            <p>{{article.content}}</p>
            <button class="btn btn-secondary">View more</button>
        </div>
        <div class="col-12 col-md-6 text-center order-md-first">
            <img [src]="article.urlToImage" class="img-fluid" alt="" srcset="">
        </div>
    </div>
</div>

