<div>
  <div class="container">
    <div class="row">
      @for(article of articles; track article){
      <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-xsm-12 col-12 ">
        <div class="card" style="width: 18rem">
          <img [src]="article.urlToImage" class="card-img-top" alt="None provided" />
          <div class="card-body">
            <h5 class="card-title">
              {{ article.title }}
            </h5>
            <p class="card-text">
              {{ article.description }}
            </p>
            <a
              class="btn btn-primary"
              (click)="followLink(article.url)"
              >More info</a
            >
          </div>
        </div>
      </div>
      }
    </div>
  </div>
</div>
