<!--Hero -->
<nav class="navbar navbar-expand-lg bg-light navbar-light">
    <button
    class="navbar-toggler"
    type="button"
    data-mdb-toggle="collapse"
    data-mdb-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <i class="fas fa-bars"></i>
  </button>
  <div class="container-fluid d-flex justify-content-center">
    <div class="row">
      <div class="col-12 d-flex mb-3">
        <a class="navbar-brand" href="#"
        ><img
          id="BN-logo"
          src="assets\BN-white.png"
          alt="BN Logo"
          draggable="false"
          height="100%"
          width="100%"
      /></a>
      </div>
    </div>
  </div>
</nav>
<!-- Hero -->